body {
    background-color: rgba(107, 78, 33, 0.764);
    background-image: url("images/durotar.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}


.section-one,
.content-one,
.content-two,
.section-two,
.section-three,
.section-four,
.img-one,
.img-two,
.img-three,
.img-four,
.footer,
.header,
.header-links,
.container-one,
.container-three,
.img-container,
.quote,
.quote-src,
.quote-container {
    display: flex;
    /* border: rgb(245, 245, 245) double; */
    
}


.section-one,
.section-two,
.section-three,
.section-four {
    flex-grow: 1;
    flex-wrap: wrap;
}

.header,
.footer {
    background-color: rgba(0, 0, 0, 0.73);
    color: rgb(189, 165, 132);
    font-size: 20px;
}

.footer {
    justify-content: center;
    font-size: 15px;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}
.header {
    justify-content: space-between;
    
}

.header-links {
    align-items: center;
    gap: 15px;
    padding: 10px;
    
    border-radius: 10%;
}

a {
    color: rgb(189, 165, 132);
    font-size: 20px;
}
.section-one,
.section-three {
    justify-content: center;
    background-color: rgba(59, 0, 0, 0.74);
    color: rgb(189, 165, 132);
    border: black outset;
    
}

.container-one,
.section-two {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10%;
}

.img-one,
.img-two,
.img-three,
.img-four {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 0px;
}

.img-text {
    max-width: 200px;
}

.title  {
    font-weight: bold;
    font-size: 50px;
    /* font-family: 'Nosifer', cursive; */
    /* color: rgba(227, 0, 0, 0.768); */
    
}
.thrall {
    width: 375px;
    height: 375px;
    margin: 10px;
    border-radius: 10%;
    align-self: center;
    border: black solid;
    
}

.section-two {
    align-items: center;
    padding: 25px;
}

.content-two {
    flex-flow: column wrap;
}

.burningblade,
.harpy,
.kolkar,
.ktmarine {
    width: 200px;
    height: 200px;
    flex-shrink: 1;
    margin: 20px;
    border-radius: 10%;
    align-self: center;
    border: black solid;
    
}
.section-two,
.section-four {
    color: rgba(59, 0, 0, 0.768);
    background-color: rgba(189, 165, 132, 0.825);
}

.title-two {
    align-self: center;
}

.img-container {
    flex-grow: 1;
    flex-flow: row wrap;
}


.section-three,
.section-four {
    padding: 50px;
}

.quote-container {
    flex-direction: column;
    align-items: center;
}

.quote-src {
    font-size: 20px;
}
.thrallquote {
    width: 200px;
    height: 200px;
    border-radius: 40%;
}
.section-four {
    flex-direction: column;
}
.quote {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 45px;
    font-weight: bolder;
    padding: 10px;
}


button {
    width: 200px;
    height: 40px;
    color: rgba(227, 0, 0, 0.768);
    background-color: rgba(0, 0, 0, 0.778);
    font-size: 20px;
    border-radius: 15%;
    font-weight: bolder;
    align-self: center;
}

