body {
    background-color: rgba(107, 78, 33, 0.764);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}


.section-one,
.content-one,
.section-two,
.section-three,
.section-four,
.footer,
.header,
.header-links,
.container-one,
.img-container {
    display: flex;
    border: rgb(245, 245, 245) double;
    
}


.section-one,
.section-two,
.section-three,
.section-four {
    flex-grow: 1;
    
}

.header,
.footer {
    background-color: black;
    color: rgb(189, 165, 132);
    font-size: 20px;
}

.footer {
    justify-content: center;
    font-size: 15px;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}
.header {
    justify-content: space-between;
    
}

.header-links {
    align-items: center;
    gap: 15px;
    padding: 10px;
    
    border-radius: 10%;
}

a {
    color: rgb(189, 165, 132);
    font-size: 20px;
}
.section-one,
.section-three {
    justify-content: center;
    background-color: rgba(59, 0, 0, 0.768);
    color: rgb(189, 165, 132);
    border: black outset;
    
}

.container-one,
.section-two {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10%;
}

.img-one,
.img-two,
.img-three,
.img-four {
    display: flex;
    flex-direction: column;
}

.title  {
    font-weight: bold;
    font-size: 50px;
    /* font-family: 'Nosifer', cursive; */
    /* color: rgba(227, 0, 0, 0.768); */
    
}
.thrall {
    width: 375px;
    height: 375px;
    margin: 20px;
    border-radius: 10%;
    align-self: center;
    border: black solid;
    
}

.section-two,
.section-four {
    color: rgba(59, 0, 0, 0.768);
    background-color: rgb(189, 165, 132);
}

.title-two {
    align-self: center;
}

.img-container {
    align-items: center;
}


.section-three {

}









button {
    width: 100px;
    height: 40px;
    color: rgba(227, 0, 0, 0.768);
    background-color: black;
    font-size: 20px;
    border-radius: 15%;
    font-weight: bolder;
}

